<div class="flex justify-center items-center flex-wrap">
  @for (el of [].constructor(10); track el) {
    <div class="w-52 h-64 flex justify-center flex-col items-center mb-10">
      <div class="bg-red-400 w-32 h-28">

      </div>
      <div class="bg-gray-300 w-52 h-36 rounded-2xl flex flex-col items-center">
        <p class="mt-4">hasztagg</p>
        <p class="text-xl mt-2 font-bold">name</p>
        <ul class="flex flex-row gap-3 mt-2">
          <li>
            <p>jego atrybuty</p>
          </li>
          <li>
            <p>bleble</p>
          </li>
        </ul>

      </div>

    </div>
  }
</div>
